In [1]:
import pandas as pd
import numpy as np
import math
from datetime import date, timedelta
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
y_lrp = pd.read_excel('Yield LRP.xlsx')
n_lrp = pd.read_excel('Nursery LRP.xlsx')

### Yield LRP

In [3]:
y_lrp.head()

,LRP Tag,Tag,Crop,Year,Plots,Rows_Per_Plot,Allocated Location,Trial Type,Compliance_Types,Lumos_Compliance_Category
0,Biotech,Corn Biotech,Corn,2025,180,NaN,"Jerseyville, IL",Field Trial,Regulated/Unregistered Seed - EPA,Regulated
1,Biotech,Soy Biotech - North America,Soybeans,2025,3240,NaN,"Jerseyville, IL",Field Trial,Regulated/Unregistered Seed - USDA-BRS,Regulated
2,Biotech,Corn Biotech,Corn,2025,816,NaN,"Jerseyville, IL",Field Trial,Regulated/Unregistered Seed - EPA,Regulated
3,Biotech,Corn Biotech,Corn,2025,2448,NaN,"Jerseyville, IL",Field Trial,Regulated/Unregistered Seed - EPA,Regulated
4,Biotech,Corn Biotech,Corn,2025,10880,NaN,"Jerseyville, IL",Field Trial,Regulated/Unregistered Seed - EPA,Regulated

In [4]:
y_lrp['Rows_Per_Plot'].isnull().sum()

374

In [5]:
# fill 2 for all nulls in Rows_per_plot
y_lrp['Rows_Per_Plot'] = y_lrp['Rows_Per_Plot'].fillna(2)

In [6]:
# cell = plot * rows
y_lrp['Cells'] = y_lrp['Plots'] * y_lrp['Rows_Per_Plot']

In [7]:
# row = 1, pkt = cell; row > 1, pkt = cell/2

y_lrp['Packets'] = np.where(y_lrp['Rows_Per_Plot']==1, y_lrp['Cells'], np.where(y_lrp['Rows_Per_Plot']>1, y_lrp['Cells']/2,0))

#### Total

In [8]:
# 2025,2026 cells and packets
group_y = y_lrp.groupby('Year')[['Cells','Packets']].sum()
#group_y = group_y.reset_index()
group_y

         Cells   Packets
Year
2025  758867.0  429105.0
2026  908454.0  501849.0

In [9]:
groupcrop_y = y_lrp.groupby(['Year','Crop'])[['Cells','Packets']].sum()
groupcrop_y

                  Cells   Packets
Year Crop
2025 Corn      582511.0  319920.0
     Soybeans  176356.0  109185.0
2026 Corn      553420.0  307364.0
     Soybeans  355034.0  194485.0

#### Excl Corn

In [10]:
filter_y = y_lrp[y_lrp['Crop'] !='Corn']
group_fy = filter_y.groupby('Year')[['Cells','Packets']].sum()
group_fy

         Cells   Packets
Year
2025  176356.0  109185.0
2026  355034.0  194485.0

### Nursery LRP

In [11]:
n_lrp.head()

,LRP Tag,Tag,Crop,Year,Pots/Flats,Effort Factor,SRE,Calculated_Seed_Products,Compliance_Types,Lumos_Compliance_Category,Plot_Row_Length,Rows_Per_Plot,Description
0,Biotech,Corn Biotech,Corn,2026,NaN,NaN,87,NaN,Regulated/Unregistered Seed - USDA-BRS,Regulated,NaN,NaN,SCC (SD419) HMU
1,Biotech,Corn Biotech,Corn,2025,NaN,NaN,173,NaN,Regulated/Unregistered Seed - USDA-BRS,Regulated,NaN,NaN,NA CY26 SSC SD419 HMU
2,Biotech,Corn Biotech,Corn,2025,NaN,NaN,184,NaN,Regulated/Unregistered Seed - USDA-BRS,Regulated,NaN,NaN,NA CY26 Root SI
3,Biotech,Corn Biotech,Corn,2026,NaN,NaN,173,NaN,Regulated/Unregistered Seed - USDA-BRS,Regulated,NaN,NaN,NA CY27 Root SI
4,Biotech,Corn Biotech,Corn,2026,NaN,NaN,432,NaN,Regulated/Unregistered Seed - USDA-BRS,Regulated,NaN,NaN,NA CY27 Transformation SI HMU

In [12]:
n_lrp['Rows_Per_Plot'].isnull().sum()

457

In [13]:
# fill 1 for all nulls in Rows_per_plot
n_lrp['Rows_Per_Plot'] = n_lrp['Rows_Per_Plot'].fillna(1)

In [14]:
# cell = plot * rows
n_lrp['Cells'] = n_lrp['SRE'] * n_lrp['Rows_Per_Plot']

In [15]:
# row = 1, pkt = cell; row > 1, pkt = cell/2

n_lrp['Packets'] = np.where(n_lrp['Rows_Per_Plot']==1, n_lrp['Cells'], np.where(n_lrp['Rows_Per_Plot']>1, n_lrp['Cells']/2,0))

#### Total

In [16]:
# 2025,2026 cells and packets
group_n = n_lrp.groupby('Year')[['Cells','Packets']].sum()
#group_n = group_n.reset_index()
group_n

         Cells   Packets
Year
2025  470590.0  467378.0
2026  824398.0  673810.0

In [17]:
groupcrop_n = n_lrp.groupby(['Year','Crop'])[['Cells','Packets']].sum()
groupcrop_n

                  Cells   Packets
Year Crop
2025 Corn       84638.0   84638.0
     Soybeans  385952.0  382740.0
2026 Corn       84359.0   84359.0
     Soybeans  740039.0  589451.0

#### Excl Corn

In [18]:
filter_n = n_lrp[n_lrp['Crop'] !='Corn']
group_fn = filter_n.groupby('Year')[['Cells','Packets']].sum()
group_fn

         Cells   Packets
Year
2025  385952.0  382740.0
2026  740039.0  589451.0

### Yield+Nursery

#### Total

In [26]:
groupcrop_t = groupcrop_y + groupcrop_n
groupcrop_t

                   Cells   Packets
Year Crop
2025 Corn       667149.0  404558.0
     Soybeans   562308.0  491925.0
2026 Corn       637779.0  391723.0
     Soybeans  1095073.0  783936.0

In [19]:
group_t = group_y+group_n
group_t

          Cells    Packets
Year
2025  1229457.0   896483.0
2026  1732852.0  1175659.0

In [20]:
row_2024 = pd.Series({'Cells':902686, 'Packets':404245},name=2024)
group_t.loc[2024]=row_2024
group_t = group_t.sort_index()
group_t

          Cells    Packets
Year
2024   902686.0   404245.0
2025  1229457.0   896483.0
2026  1732852.0  1175659.0

In [21]:
group_t['Cells_yoy'] = group_t['Cells'].pct_change(periods=1).round(2)
group_t['Packets_yoy'] = group_t['Packets'].pct_change(periods=1).round(2)

In [22]:
group_t

          Cells    Packets  Cells_yoy  Packets_yoy
Year
2024   902686.0   404245.0        NaN          NaN
2025  1229457.0   896483.0       0.36         1.22
2026  1732852.0  1175659.0       0.41         0.31

#### Excl Corn

In [23]:
group_texcl = group_fy+group_fn
group_texcl

          Cells   Packets
Year
2025   562308.0  491925.0
2026  1095073.0  783936.0

In [24]:
row_2024 = pd.Series({'Cells':902686, 'Packets':404245},name=2024)
group_texcl.loc[2024]=row_2024
group_texcl = group_texcl.sort_index()
group_texcl

          Cells   Packets
Year
2024   902686.0  404245.0
2025   562308.0  491925.0
2026  1095073.0  783936.0

In [25]:
group_texcl['Cells_yoy'] = group_texcl['Cells'].pct_change(periods=1).round(2)
group_texcl['Packets_yoy'] = group_texcl['Packets'].pct_change(periods=1).round(2)
group_texcl

          Cells   Packets  Cells_yoy  Packets_yoy
Year
2024   902686.0  404245.0        NaN          NaN
2025   562308.0  491925.0      -0.38         0.22
2026  1095073.0  783936.0       0.95         0.59